set_io CLOCK 13
set_io RESET 51
set_io BUZZR 9
set_io BTN_L 53
set_io BTN_M 59
set_io BTN_R 56
set_io D0[0] 81
set_io D0[1] 30
set_io D0[2] 40
set_io D0[3] 29
set_io D0[4] 34
set_io D0[5] 36
set_io D0[6] 37
set_io D1[0] 82
set_io D1[1] 86
set_io D1[2] 85
set_io D1[3] 64
set_io D1[4] 63
set_io D1[5] 87
set_io D1[6] 65
set_io D2[0] 79
set_io D2[1] 83
set_io D2[2] 74
set_io D2[3] 62
set_io D2[4] 42
set_io D2[5] 72
set_io D2[6] 41
set_io D3[0] 73
set_io D3[1] 80
set_io D3[2] 71
set_io D3[3] 78
set_io D3[4] 69
set_io D3[5] 68
set_io D3[6] 66
